Source: smoothx-xfce
Section: xfce
Priority: optional
Maintainer: philipbabu <sasha.1594@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/sasha1594/smoothX-Xfce

Package: smoothx-xfce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Icon Theme for XFCE Desktop
 Complete set of Icon theme for your XFCE4 desktop environment
 includes multiple colored folders and designs, to suit every
 workspace and style.
